.site-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
}

.display {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.counter {
	font-size: 300%;
}

/* do nothinnnnn */

.input-box {
	width: 2em;
	height: 2em;
	border-radius: 10px;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.2s;
}

.input-box:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 1);
}

.fizz-buzz {
	position: absolute;
	bottom: 0;
}

